<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="Mdoc.Org.Uk.Championship.Library.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<applicationSettings>
		<Mdoc.Org.Uk.Championship.Library.Settings>
   <setting name="WordRegex" serializeAs="String">
    <value>[a-z\'\-]+</value>
   </setting>
   <setting name="DurationRegex" serializeAs="String">
    <value>\A(?&lt;unit&gt;\d+)(:(?&lt;unit&gt;\d{2,2})){0,2}\Z</value>
   </setting>
   <setting name="DistanceRegex" serializeAs="String">
    <value>(?&lt;distance&gt;\d+\.?\d*)\s*km</value>
   </setting>
   <setting name="OpenTechnicalDifficulty" serializeAs="String">
    <value>5</value>
   </setting>
   <setting name="MinimumSeniorAge" serializeAs="String">
    <value>18</value>
   </setting>
   <setting name="DefaultAgeClass" serializeAs="String">
    <value>M21</value>
   </setting>
   <setting name="AnchorRegex" serializeAs="String">
    <value>\&lt;a\s+href\=\"([^\"]*)\"[^&gt;]*\&gt;([^\&lt;]*)&lt;/a&gt;</value>
   </setting>
  </Mdoc.Org.Uk.Championship.Library.Settings>
	</applicationSettings>
</configuration>